body {
    background: rgba(245,247,248,255);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  
  .img{
    position:"absolute";
    max-width: 100%;
    height: auto;
    width: auto\9;
  }

  /*Button*/
  .button {
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 6px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    float: right;
  
  }
  
  .button1 {
    background-color: white;
    color: black;
    border: 2px solid #5a49e4;
    border-radius: 12px;
  }
  
  .button1:hover {
    background-color: #5a49e4;
    color: white;
  }
  
  .button2 {
    background-color: white;
    color: black;
    border: 2px solid #5a49e4;
    border-radius: 12px;
  }
  
  .button2:hover {
    background-color: #5a49e4;
    color: white;
  }

  .button3 {
    background-color: white;
    color: black;
    border: 2px solid #5a49e4;
    border-radius: 12px;
  }
  
  .button3:hover {
    background-color: #5a49e4;
    color: white;
  }
  

/*Text*/

  h1 {
    text-align: center;
    color: black;
    font-weight:900;
    font-stretch: ultra-expanded;
    font-family: Impact, fantasy
  }
  
  p {
    text-align: center;
    color: black;
    font-weight:900;
    font-stretch: ultra-expanded;
    font-family: Impact, fantasy
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  /*Globe*/
  .right{
    display: block;
    margin-right: auto;
    float: right;
    position:absolute;
    right: 170px;
    top:110px;
    margin: auto;
  }

  /*Title Project Description*/
  .left{
    display: block;
    margin-left: auto;
    float:left;
    position: absolute;
    top:120px;
    left: 70px;
    margin: auto;
  }

  /*Subtitle Project Description*/
  .lower{
    display: block;
    margin-left: auto;
    float:left;
    top:355px;
    left:11px;
    position: absolute;
    margin: auto;
  }
/*ENGIE Logo*/
  .logo{
    margin-left: auto;
    float:left;
    bottom:10px;
    right: 20px;
    position: absolute;
    margin: auto;
  }

/*Facility Button*/
  .FacilityButton{
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 6px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:relative;
    left: 63px;
    top: 390px;
  }
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #5a49e4;
    border-radius: 12px;
  }
  
  .button4:hover {
    background-color: #5a49e4;
    color: white;
  }